<!DOCTYPE html>
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Roma pneus

        link(rel="stylesheet", href="assets/styles/main.scss")
        link(href='http://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')
    body

        .section.section--one
            .centralize
                .store
                    .store__image
                        img(src="assets/images/roma-pneus.jpg")

                    .store__andress
                        P.title <b>Loja: Roma Pneus Alphaville</b>
                        P <b>Endereço:</b> Alameda Araguaia, 381 - Alphaville Barueri - SP
                        P CEP: 06455-000
                        P <b>Disk ofertas:</b> (11) XXXX-XXXX
                        P <b>Loja:</b> (11) XXXX-XXXX
                        P <b>Horário de atendimento:</b>
                        P De Segunda a Sexta das 08:00 às 18:00hs
                        P Sábados das 08:00 às 13:00hs

                        a.cta-agenda-visita Agende uma visita

                .texts
                    p.text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    p.text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    p.text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        
        .section.section--two
            img(src="assets/images/pneu3.png", class="pneu")

            .layer

            .wrapper

                .centralize

                    .calls
                        .call
                            .call__title
                                p Alinhamento e balanceamento
                            
                            .call__image
                                img(src="assets/images/service1.jpg")
                            .call__cta
                                a.custom-cta.cta.cta-5(href="") <span>Agendar</span>
                        
                        .call
                            .call__title
                                p Alinhamento e balanceamento
                            
                            .call__image
                                img(src="assets/images/service2.jpg")
                            .call__cta
                                a.custom-cta.cta.cta-5(href="") <span>Agendar</span>
                        
                        .call
                            .call__title
                                p Alinhamento e balanceamento
                            
                            .call__image
                                img(src="assets/images/service3.jpg")
                            .call__cta
                                a.custom-cta.cta.cta-5(href="") <span>Agendar</span>

                a.custom-cta.cta.cta-3(href="") <span>Mais segurança para seu veículo</span>
        
        .section.section--three

            .especialista__container
                img(src="assets/images/especialista.jpg", class="especialista__image")
                
                .especialista__square
                    i.icon
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><g><circle cx="208" cy="192" r="16"/><circle cx="304" cy="192" r="16"/><path d="M406.4,360.57,320,337.83V310.35c20.29-15.67,37.55-37.47,44.6-62.35H388a28.031,28.031,0,0,0,28-28V164a28.031,28.031,0,0,0-28-28H368V120a112,112,0,0,0-224,0v16H124a28.031,28.031,0,0,0-28,28v56a28.031,28.031,0,0,0,28,28h4v32a8,8,0,0,0,8,8h32.91A142.581,142.581,0,0,0,192,310.35v27.48l-86.39,22.74A88.046,88.046,0,0,0,40,445.67V496a8,8,0,0,0,8,8H464a8,8,0,0,0,8-8V445.67A88.048,88.048,0,0,0,406.4,360.57ZM392,152.7a12.014,12.014,0,0,1,8,11.3v56a12.014,12.014,0,0,1-8,11.3Zm-24-.7h8v80h-8ZM120,231.3a12.014,12.014,0,0,1-8-11.3V164a12.014,12.014,0,0,1,8-11.3ZM334.36,358.16,301.09,421.4l-32.33-15.84,46-52.56ZM256,395.85l-48-54.86V321.1c16.38,9.48,33.46,14.9,48,14.9s31.62-5.42,48-14.9v19.89ZM160,120a96,96,0,0,1,192,0v27.31a79.215,79.215,0,0,1-41.3-31.53,8.009,8.009,0,0,0-10.76-2.37c-.61.36-59.45,35.26-139.94,37.48Zm-24,32h8v80h-8Zm8,120V248h3.4a103.55,103.55,0,0,0,10.34,24Zm46.51,16h34.87A24.031,24.031,0,0,0,248,304h16a24,24,0,0,0,0-48H248a24.031,24.031,0,0,0-22.62,16H176.62C162.55,252.32,160,234.37,160,224V166.89c70.26-1.8,123.83-26.71,141.78-36.2A93.971,93.971,0,0,0,352,163.94V224c0,13.75-4.46,40.8-34.34,67.58C298.4,308.84,274.19,320,256,320s-42.4-11.16-61.66-28.42C193.01,290.39,191.74,289.19,190.51,288ZM240,280a8.011,8.011,0,0,1,8-8h16a8,8,0,0,1,0,16H248A8.011,8.011,0,0,1,240,280Zm-42.76,73,45.92,52.48-31.73,15.86-33.31-63.31Zm28.51,135H112V456a8,8,0,0,0-16,0v32H56V445.67a72.027,72.027,0,0,1,53.68-69.62l52.56-13.84,38.68,73.51a8.011,8.011,0,0,0,10.66,3.44l5.64-2.83,14.3,28.6Zm16.5,0,4-16h19.69l4.5,16Zm24.81-32H244.94l-13.41-26.82,24.28-12.14,24.68,12.08ZM456,488H416V456a8,8,0,0,0-16,0v32H287.06l-6.52-23.19,14.32-28.65,6.17,3.02a7.882,7.882,0,0,0,3.51.82,8,8,0,0,0,7.09-4.28l38.61-73.38,52.09,13.71A72.03,72.03,0,0,1,456,445.67Z"/></g></svg>
                    p.text Nossos especialistas estão sempre disponíveis e prontos para atendê-los quando precisarem de nós.
        
        .section.section--four

            //- .column
            img(src="assets/images/gallery-1.jpg", class="gallery-image")
            img(src="assets/images/gallery-2.jpg", class="gallery-image")
            img(src="assets/images/gallery-3.jpg", class="gallery-image")

            //- .column
            img(src="assets/images/gallery-4.jpg", class="gallery-image")
            img(src="assets/images/gallery-5.jpg", class="gallery-image")
            img(src="assets/images/gallery-6.jpg", class="gallery-image")

            img(src="assets/images/gallery-7.jpg", class="gallery-image")
            img(src="assets/images/gallery-8.jpg", class="gallery-image")
            img(src="assets/images/gallery-9.jpg", class="gallery-image")

        .section.map
            a.custom-cta.cta.cta-4(href="") <span>Veja como chegar</span>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.6166625603782!2d-46.70498578502241!3d-23.546286084690397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce57cebead9119%3A0x729a6d59fa04f369!2sR.%20Prof.%20Nova%20Gomes%2C%20382%20-%20Vila%20Madalena%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2005448-100!5e0!3m2!1spt-BR!2sbr!4v1574196183562!5m2!1spt-BR!2sbr" width="100%" height="307" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
