
body {
    margin: 0;
    font-family: 'Roboto';
}

p {margin: 0}

a {
    cursor: pointer;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.section {

    &--one {
        margin-top: 100px;
        margin-bottom: 250px;

        @media(max-width: 560px) {
            margin-bottom: 170px;
        }

        .texts {
            margin-top: 50px;
            font-size: 18px;
            color: #4e4e4e;

            @media(max-width: 560px) {
                margin-top: 30px;
                padding: 0 30px;
            }
        }

        .text {
            margin-bottom: 15px;
        }
    }

    &--two {
        position: relative;
        background: #000;
        background-image: url('../images/service1.jpg');
        background-size: cover;
        border-top: 6px solid #f00;
        padding: 200px 0;

        @media(max-width: 560px) {
            padding: 90px 0;
        }

        .layer {
            background-color: rgba(20, 20, 20, .95);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
        }

        .wrapper {
            position: relative;
            z-index: 2;
        }

        .centralize {
            max-width: 1075px;
            max-width: fit-content;
        }
    }

    &--four {
        display: flex;
        flex-wrap: wrap;

        &:hover {

            img {
                opacity: .7;
            }
        }

        img {
            width: 100%;
            cursor: pointer;
            transition: .5s;

            &:hover {
                opacity: 1;
            }

            @media(min-width: 768px) {
                width: 33.3%;
            }
        }
    }
}

.centralize {
    margin: 0 auto;
    max-width: 1050px;
}

.store {

    @media (min-width: 768px) {
        display: flex;
    }

    &__image {
        img {
            display: block;
            margin: 0 auto;
            width: 100%;
        }
    }

    &__andress {
        margin-top: 5px;
        font-size: 20px;
        line-height: 20px;

        @media(min-width: 768px) {
            padding-left: 35px;
        }

        @media(max-width: 560px) {
            padding: 30px;
        }

        .title {
            font-size: 28px;
            line-height: 32px;
        }

        p {
            margin-bottom: 15px;
            font-size: 20px;
        }
    }
}

.cta-agenda-visita {
    display: block;
    width: 210px;
    background: #0adb44;
    border-radius: 3px;
    line-height: 35px;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    transition: .5s;

    &:hover {
        background: #f00;
    }
}


.custom-cta {
    padding: 10px 25px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.cta {
    display: block;
    padding: 0;
    border: none;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

    span {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;

        &:hover{
            color: #fff;

            &::before {
                height: 100%;
            }
            &::after {
                width: 100%;
            }
        }

        &::before,
        &::after {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            background: #fff;
            transition: all 0.3s ease;
        }
        &::before {
            width: 2px;
            height: 0%;
        }
        &::after {
            width: 0%;
            height: 2px;
        }
    }

    &::before,
    &::after {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        background: #fff;
        transition: all 0.3s ease;
    }

    &::before {
        height: 0%;
        width: 2px;
    }
    &::after {
        width: 0%;
        height: 2px;
    }
    &:hover{
        background: transparent;
        box-shadow: none;

        &::after {
            width: 100%;
        }

        &::before {
            height: 100%;
        }
    }

    &-3 {
        margin: 50px auto;
        background: #fff;
        width: 80%;
        max-width: 740px;
        color: #000;
        line-height: 100px;
        font-size: 28px;
    }

    &-4 {
        margin: 50px auto;
        max-width: 300px;
        background: #4e4e4e;
        color: #fff;
        font-size: 24px;
        line-height: 50px;

        span {

            &::before,
            &::after {
                background: #4e4e4e;
            }

            &:hover {
                color: #4e4e4e;
            }
        }

        &::before,
        &::after {
            background: #4e4e4e;
        }
    }

    &-5 {
        margin-top: 25px;
        max-width: 100%;;
        background: #df0525;
        color: #fff;
        line-height: 50px;
        font-size: 24px;

        span {

            &::before,
            &::after {
                background: #df0525;
            }

            &:hover {
                color: #df0525;
                color: #fff;
            }
        }

        &::before,
        &::after {
            background: #df0525;
        }
    }

    @media(max-width: 560px) {
        font-size: 16px;
        margin: 20px auto;
        line-height: 75px;
    }
}

.pneu {
    display: block;
    position: relative;
    z-index: 2;
    margin: 10px auto;
    margin-top: -400px;
    max-width: 900px;

    @media(min-width: 768px) {
        width: 45%;
    }

    @media(max-width: 560px) {
        margin-top: -210px;
    }
}

.calls {
    margin: 150px 0;

    @media(max-width: 560px) {
        margin: 80px 0;
    }

    @media(min-width: 768px) {
        display: flex;
    }

    .call {

        @media(min-width: 768px) {
            margin-left: 25px;
        }

        @media(max-width: 560px) {
            margin: 30px;
        }

        &__title {
            font-size: 30px;
            color: #fff;

            @media(min-width: 380px) {
                max-width: 380px;
            }
        }

        &__image {
            img {
                margin-top: 50px;
                max-width: 380px;
                width: 100%;
            }
        }
    }
}

.especialista {

    &__container {
        position: relative;
        max-width: 1300px;
        margin: 50px auto;

        @media(max-width: 560px) {
            margin-bottom: 70%;
        }
    }

    &__image {

        @media(min-width: 768px) {
            width: 90%;
            max-width: 1000px;
        }
    }

    &__square {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        margin: auto;
        max-width: 400px;
        background: #f00;
        
        @media(min-width: 768px) {
            top: 0;
            bottom: 0;
            width: 35%;
            height: 80%;
        }

        @media(max-width: 560px) {
            left: 0;
            bottom: -75%;
            width: 58%;
            height: 92%;
        }
        
        .icon {
            display: block;
            width: 150px;
            height: 150px;

            @media(max-width: 560px) {
                width: 80px;
                height: 80px;
            }

            svg {
                width: 100%;
                height: 100%;
                fill: #fff;
            }
        }

        .text {
            padding: 20px 67px;
            margin-top: 50px;
            color: #fff;
            font-size: 22px;
            font-weight: bold;
            line-height: 30px;
            text-align: center;

            @media(max-width: 560px) {
                margin-top: 25px;
                font-size: 14px;
                line-height: 22px;
                padding: 0 10%;
            }
        }

    }
}